<!DOCTYPE html>

<html>
    <title>Assignment</title>
    <head>
        <meta http-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/main.css">

        
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="logo" style="width:40px;">
  </a>
  <button type="button" onclick="myFunction()"  data-toggle="collapse" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" id="myDIV">
  <ul class="navbar-nav">
    <li class="nav-item">
     <div style="background-color:green; border-radius:10px;"> <a  color="black" class="nav-link" href="/teacher_main">Home</a></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Downloads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">link</a>
    </li>
  </ul>
  <div style="position:absolute; right:10px; color:white "><div class="login_png"></div>Hello {{name}}</div>
  </div>
</nav>


<div class="mr-5">
    <table  class="ml-3">

            <th class="pr-1">date</th>
            <th class="px-2">subject</th>
            <th class="px-5">Assignment Detail</th>
            <th class="px-2">Last Date</th>
            <th class="pl-2">Downloads</th>

        {% for row in result %}
        <tr>
            <td class="px-2">{{row[0]}}</td>
            <td class="px-2 font-weight-normal font-italic">{{row[1]}}</td>
            <td class="px-2">{{row[2]}}</td>
            <td class="px-2">{{row[3]}}</td>
            <td><a href="/downloads/{{row[4]}}">download attachment</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</body>
</html>