<!DOCTYPE html>

<html>
    <head>
          
        <link rel="stylesheet" href="static/main.css">
          <title>fee_status</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
     <div style="background-color:green; border-radius:10px;"> <a  color="black" class="nav-link" href="/main">Home</a></div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Downloads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
  <div style="position:absolute; right:10px; color:white "><div class="login_png"></div>hello {{name}}</div>
</nav>
    <div>
        <table>
            <tr>
            <th>Date of submission</th>
            <th>Month</th>
            <th>Rs.</th>
             <tr>
            {% for x in result %}
               
               <tr>
                 <td>{{x[1]}}</td>
                 <td>{{x[2]}}</td>
                 <td>{{x[3]}}</td>
               </tr>
               nitesh
               
              {% endfor %} 
        </table>
    </div>

         
      </body>
</html>
