<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>login page</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Merged Forms Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
     <link rel="stylesheet" href="static/css/login.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body>
   <!-- /form-26-section -->
   <section class="form-26">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div class="forms-26-info">
						 
                        <p>An OTP has been sent to your email .Please Enter OTP below</p>
                    </div>
					<div class="form-right-inf"> 
							<form action="/otp_message" method="post" class="signin-form">
							 <div class="forms-gds">
							
								<div  class="form-input">
									<input type="number" name="otp" placeholder="Enter otp here" required />
								</div>
								<div  class="form-input"><button class="btn">submit</button></div>

								 <p>{{message}}</p>
							</div>
							<h6 class="already"> Didn't get OTP? <a href="register.html"><span>Resend otp<span></span></span></a></h6>
						</form>
						
                    </div>
				<div class="copyright text-center">
                    <p>© 2019 Merged Forms. All rights reserved | Design by <a href="http://w3layouts.com/"
                            target="_blank">W3Layouts</a></p>
                </div>
                </div>
			
			</div>
		</div>
		    </div>
		</section>
      <!-- //form-26-section -->
</body>
</html>