
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>start_page</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- //Meta tag Keywords -->
     <link rel="stylesheet" href="static/css/login.css" type="text/css" media="all" /><!-- Style-CSS -->
</head>
<body>
   <!-- /form-26-section -->
   <section class="form-26">
         <div class="form-26-mian">
				<div class="layer">
			<div class="wrapper">
			<div class="form-inner-cont">
					<div class="forms-26-info">
						 <h2>EnterSchool</h2>
         </div>
					<div class="form-right-inf"> 

							 <div class="forms-gds">
									<div  class="form-input"><button class="btn" onclick="window.location.href='/create_class';">Create a Class</button></div>
									<div  class="form-input"><button class="btn" onclick="window.location.href='/join_class';" >Join a Class</button></div>
								  <div  class="form-input"><button class="btn" onclick="window.location.href='/login';">Login</button></div>
							</div>
							<h6 class="already"> Already have an account <a href="/login"><span>Login Here<span></span></span></a></h6>

						
                    </div>
				<div class="copyright text-center">
                    <p>© 2021 Merged Forms. All rights reserved | Design by Nitesh Singh
                    Contact us:-8874411916,or Email:- nitesh.singh5695@gmail.com</p>
                </div>
                </div>
			
			</div>
		</div>
		    </div>
		</section>
      <!-- //form-26-section -->
</body>
</html>